[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio ="==1.51.1"
grpcio-tools ="==1.51.1"
redis = "==3.5.3"

[dev-packages]

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8.9"