# Mac OS X
.DS_Store

# JetBrains IDE
.idea/

#Output files
src/app/order_service/transaction_log.csv
src/app/catalog_service/output.json

#Service test files
src/app/catalog_service/client_test.py
src/app/order_service/client_test.py

# Byte-compiled / optimized / DLL files
__pycache__/

#redis volumes
cache_data/dump.rdb
